html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    background-color: #e4e4e4;
    padding-bottom: 2em;
}

h1 {
    font-family: 'Wendy One', sans-serif;
    color: #8c1818;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #010440;
}

.site-container {
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header {
    background-color: #8c1818;
}

#logo {
    max-width: 200px;
    display: block;
    margin: auto;
}

#color-swatches {
    padding: 2%;
    margin: auto;
}

#color-swatches li {
    list-style-type: none;
    width: calc(100% / 7);
    padding-bottom: 12%;
    margin: 2%;
    display: inline-block;
}

#color-1 {
    background-color: #010440;
}

#color-2 {
    background-color: #010326;
}

#color-3 {
    background-color: #158c03;
}

#color-4 {
    background-color: #f2561d;
}

#color-5 {
    background-color: #8c1818;
}

#text-sample {
    background-color: #ffffff;
    margin: 1% 7%;
    padding: 1em;
    width: 40%;
}
